:root{
    --dark: #2b2d42;
    --light: #adb5bd;
    --border: #dee2e6;
    --border-btn: #edf2f4;
}
.table .thead-dark{
    background-color: var(--dark);
}

.form-control {
    text-align: center;
}

